exclude: "^docs/"
default_stages: [ pre-commit ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      # Automatically upgrade syntax for newer versions of Python.
      - id: pyupgrade
        args: [ --py312-plus ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.2
    hooks:
      # Linter
      - id: ruff-check
        args: [ --fix, --exit-non-zero-on-fix ]
      # Formatter
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.18.2'
    hooks:
      # MyPy type checker
      - id: mypy
        additional_dependencies: [ types-requests ]
        exclude: ^tests/

  - repo: https://github.com/lsst-ts/pre-commit-xmllint
    rev: 6f36260b537bf9a42b6ea5262c915ae50786296e
    hooks:
      # XML formatter
      - id: format-xmllint

# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
  autoupdate_schedule: weekly
  skip: [ ]
  submodules: false
